header {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background-color: #3f3d55;
  color: #9dfed0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1;
  /* position: relative; */
}
  header a {
    text-decoration: none;
    color: inherit;
    margin: 0 10px; }
  header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-weight: 300;
    font-size: 1rem; }
    header a:hover, header a:visited, header a:link, header a:active
    {
        text-decoration: none;
        color: #9dfed0;
    }
  
  @media screen and (max-width:600px){
    header ul {
      font-size: 0.8rem;
    }
  }