#reset-password-container{
    width:60vw;
    height:40vh;
    display:flex;
    margin:auto;
    margin-top:200px;
    box-shadow: 0px 6px 9px 4px #0000002e;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
    background-color: white;
    padding:10px;
}
#reset-password-img{
    width:200px;
    height:200px;
}

.md-form{
    margin:10px;
}
.btn{
    background-color: #575989;
}
.btn:hover{
    background-color: #3f3d55;
}
@media screen and (max-width:700px){
    #reset-password-img{
        display:none;
    }
}