#sign-up-container{
    max-width:70vw;
    /* height:75vh; */
    margin:auto;
    margin-top:100px;
    box-shadow: 0px 6px 9px 4px #0000002e;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
    background-color: white;
    padding:10px;
}
#sign-up-img{
    width:300px;
    height:300px;
}
#left-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
#right-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
input{
    width:90%;
}
#google-login-button{
    cursor: pointer;
}
.md-form{
    margin-bottom:10px;
}
.btn{
    background-color: #575989;
    color:white;
}
.btn:hover{
    background-color: #3f3d55;
    color:white;
}

@media screen and (max-width:900px){
    #left-container{
        display:none;
    }
    #sign-up-container{
        max-width:90vw;
    }
}