<link rel="stylesheet" href="/assets/css/find_account.css">
<div id="find-account-container">
    <img id="find-account-img" src="/assets/images/undraw_searching_p5ux.svg" alt="Search Image">
    <div id="rigth-container">
        <h3>Find Your Account</h3>

        <form id="find-account-form" action="/users/find-account" method="POST">
            <div class="md-form">
                <input id="email" type="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <input id="findBtn" class="btn btn-info btn-block my-4" type="submit" value="Search">
        </form>
    </div>

</div>
<script src="/assets/js/find_account.js"></script>