<link rel="stylesheet" href="/assets/css/home.css">
<div class="home-container big-screen">
    <h3>What is your property type?</h3>
    <div class="list-block">
        <div class="text">
            <h4>Create your listing</h4>
            <p>
                Looking at a property listing website that will effectively help you sell your house? Wondering where to
                advertise rentals? Join Tenants.IO, a free property listing site wherein you can post free property ads
                online to list property for sale or post ad for rent. All you need to do is furnish a comprehensive
                property list with accurate and relevant details of your property.Listing property is a matter of few
                minutes and you are done.
            </p>
            <a href="/property/list"> List your properties here! </a>
        </div>
        <div class="image">
            <img src="/assets/images/listproperty.svg" alt="">
        </div>

    </div>

    <div class="list-block">
        <div class="image">
            <img src="/assets/images/propertystatus.svg" alt="">
        </div>
        <div class="text">
            <h4>Check your property Status</h4>
            <p>
                In a matter of minutes, Tenants.IO will help your property get the much-needed visibility. Property
                advertisements are the best way to reach out to potential homebuyers and tenants and shortlisting the
                best among the pool of the real estate listing websites should be your first step. A builder, an owner
                or an agent need not spend hours to sell house online or trying a hand at online rental.
            </p>
            <a href="/property/list">Check who is interested in your property here!</a>
        </div>

    </div>
</div>
<div class="home-container small-screen">
    <h3>What is your property type?</h3>
    <div class="list-block">
        <div class="image">
            <img src="/assets/images/listproperty.svg" alt="">
        </div>
        <div class="text">
            <h4>Create your listing</h4>
            <p>
                Looking at a property listing website that will effectively help you sell your house? Wondering where to
                advertise rentals? Join Tenants.IO, a free property listing site wherein you can post free property ads
                online to list property for sale or post ad for rent. All you need to do is furnish a comprehensive
                property list with accurate and relevant details of your property.Listing property is a matter of few
                minutes and you are done.
            </p>
            <a href="/property/list"> List your properties here! </a>
        </div>


    </div>

    <div class="list-block">
        <div class="image">
            <img src="/assets/images/propertystatus.svg" alt="">
        </div>
        <div class="text">
            <h4>Check your property Status</h4>
            <p>
                In a matter of minutes, Tenants.IO will help your property get the much-needed visibility. Property
                advertisements are the best way to reach out to potential homebuyers and tenants and shortlisting the
                best among the pool of the real estate listing websites should be your first step. A builder, an owner
                or an agent need not spend hours to sell house online or trying a hand at online rental.
            </p>
            <a href="/property/list">Check who is interested in your property here!</a>
        </div>

    </div>
</div>