<link rel="stylesheet" href="/assets/css/user_authentication.css">

<div id="sign-in-container">
  <img id="sign-in-img" src="/assets/images/undraw_access_account_99n5.svg" alt="Sign In Image">
  <button id="btnSubmit" class="btn btn-block my-4" type="submit">
    <span>
      Sign Up/ Sign In with &nbsp;
    </span>
    <img src="https://image.flaticon.com/icons/svg/2965/2965278.svg" alt="Google" style="width:20px">
  </button>
</div>

<script src="/assets/js/firebase.js"></script>