<link rel="stylesheet" href="/assets/css/user_sign_in.css">
<script src="https://www.google.com/recaptcha/api.js"></script>
<div id="sign-in-container">
    <div id="left-container">
        <img id="sign-in-img" src="/assets/images/undraw_access_account_99n5.svg" alt="Sign In Image">
        <a href="/users/sign-up">Create an account</a>
    </div>
    <div id="right-container">
        <h3>Sign In</h3>
        <form id="sign-in-form" action="/users/create-session" method="POST" class="text-center">
            <div class="md-form">
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="md-form">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                    required>
            </div>
            <div class="md-form">
                <div class="g-recaptcha" data-sitekey="6Lczk-QZAAAAABlV7spKKjxuTRNFLe6LzgFTGYNR"
                    data-callback="recaptchaCallback"></div>
            </div>
            <input id="btnSubmit" class="btn btn-block my-4" type="submit" value="Sign In" style="align-self: end;">

        </form>
        <div style="width:100%;display: flex; justify-content:space-between;">
            <p>
                <a href="/users/forgot-password" style="font-size: 0.8rem;">Forgot Password?</a>
            </p>
            <p id="google-login-button">
                <span style="font-size: 0.7rem">or login with </span>
                <img src="https://image.flaticon.com/icons/svg/2965/2965278.svg" alt="Google" style="width:20px">
            </p>
        </div>

    </div>
</div>
<script src="/assets/js/firebase_new.js"></script>